<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @developer.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @developer.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @developer.email %>
</p>

<p>
  <b>Password:</b>
  <%= @developer.password %>
</p>


<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
