<% content_for :title do %>New students from CSV<% end %>

<div class="mainText container">
<h1>Create students from CSV</h1>

<% if current_user.role.title == 'admin' %>

  <p>Please import a csv file containing the following columns (columns in brackets are optional): username, password, gender, dateBirth, teacherUsername and groupName.</p>

  <p>This will create new students in the system. Students will be associated with the teacher specified. If a group doesn't exist with a specified groupName, one will be created.</p>

  <%= form_tag createcsv_students_path, multipart: true do %>
    <div class="form-group">
      <%= label_tag :IdGameAccess %>
      <%= text_field_tag(:idSG, 'Enter a game ID here...', :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= file_field_tag :file , :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag "Import CSV", :class => 'btn btn-primary' %>
    </div>
  <% end %>

<% else %>

  <p>Please import a csv file containing the following columns: username, password, gender and dateBirth.</p>

  <%= form_tag createcsv_students_path, multipart: true do %>
    
    <div class="form-group">
      <%= label_tag :group %>
      <%= select_tag(:idGroup, options_from_collection_for_select(@groups, "id", "name"), :class => 'form-control') %>
    </div>
    <div class="form-group">
    	<%= file_field_tag :file , :class => 'form-control' %>
    </div>
    <div class="form-group">
    	<%= submit_tag "Import CSV", :class => 'btn btn-primary' %>
    </div>
  <% end %>

<% end %>
<%= link_to 'Back', students_path, :class => 'btn' %>
</div>
