<% content_for :title do %>Students<% end %>

<div class="mainText container">
<h1>Listing students</h1>

<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.user.username if not student.user.nil? %></td>
    <td><%= student.user.email if not student.user.nil? %></td>
    <td><%= student.dateBirth %></td>
    <td><%= student.gender %></td>
    <td><%= student.school.name if not student.school.nil? %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path, :class => 'btn btn-primary'%>
</div>