<% content_for :title do %>Students<% end %>

<div class="mainText container">
<h1>Listing students</h1>

<p>Refine by group:

    <select id="refineByClass">
        <option>All</option>
        <% @groups.each do |g| %>
            <option value="<%= g.name %>"><%= g.name %></option> 
        <% end %>
    </select>
</p>


<table class="table table-striped">
  <tr>
    <th>Group</th>
    <th>Username</th>
    <th>Password</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% group = -1 %>
<% @students.each do |student| %>
  <tr>
    <% gps = student.groups.where("group.idTeacher = ?",  current_user.teacher.id) %>
    <% if gps[0].nil? %>
        <td></td>
    <% elsif gps[0].id != group %>
        <% group = gps[0].id %>
        <td rowspan="<%= @groups.find_by_id(group).students.count %>">
            <%= gps[0].name if not gps[0].nil? %>
        </td>
    <% end %>
    <td><%= student.username %></td>
    <td><%= student.password %></td>
    <td><%= student.dateBirth %></td>
    <td><%= student.gender %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path, :class => 'btn btn-primary'%>
</div>