<% content_for :title do %>Students<% end %>

<div class="mainText container">
<h1>Listing students</h1>

<% if current_user.role.title == 'admin' %>

<p>There are presently <%= @students.count %> students in the database.</p>

<p>Last 10 students added:</p>

<table class="table table-striped">
  <tr>
    <th>Group(s)</th>
    <th>Teacher(s)</th>
    <th>Username</th>
    <th>Password</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% (0..9).each do |i| %>
      <tr>
        <% student = @studentsSorted[i] %>
        <td>
            <% if student.groups.count < 4 %>
                <% student.groups.each do |group| %><%= group.name %> <% end %>
            <% else %>
                <%= student.groups.count %> groups (<%= student.groups.first.name %> ... <%= student.groups.last.name %>)
            <% end %>
        </td>
        <td>
            <% if student.teachers.count < 4 %>
                <% student.teachers.each do |teacher| %><%= teacher.user.username %> <% end %>
            <% else %>
                <%= student.teachers.count %> teachers (<%= student.teachers.first.user.username %> ... <%= student.teachers.last.user.username %>)
            <% end %>
        </td>
        <td><%= student.username %></td>
        <td><%= student.password %></td>
        <td><%= student.dateBirth %></td>
        <td><%= student.gender %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<p>
    <%= link_to 'Create new Students from CSV', csv_students_path, :class => 'btn btn-primary'%>
</p>
<br/>

<% else %>

<p>Refine by group:

    <select id="refineByClass">
        <option>All</option>
        <% @groups.each do |g| %>
            <option value="<%= g.name %>"><%= g.name %></option> 
        <% end %>
    </select>
</p>


<table class="table table-striped">
  <tr>
    <th>Group</th>
    <th>Username</th>
    <th>Password</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% group = -1 %>
<% @students.each do |student| %>
  <tr>
    <% gps = student.groups.where("group.idTeacher = ?",  current_user.teacher.id) %>
    <% if gps[0].nil? %>
        <td></td>
    <% elsif gps[0].id != group %>
        <% group = gps[0].id %>
        <td rowspan="<%= @groups.find_by_id(group).students.count %>">
            <%= gps[0].name if not gps[0].nil? %>
        </td>
    <% end %>
    <td><%= student.username %></td>
    <td><%= student.password %></td>
    <td><%= student.dateBirth %></td>
    <td><%= student.gender %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path, :class => 'btn btn-primary'%>
<%= link_to 'New Students from CSV', csv_students_path, :class => 'btn btn-primary'%>
<% end %>

</div>