<% content_for :title do %>Student<% end %>

<div class="mainText container">
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @student.username %>
</p>

<p>
  <b>Password:</b>
  <%=  @student.password %>
</p>

<p>
  <b>Date of Birth:</b>
  <%=  @student.dateBirth.strftime("%Y %m %d") if @student.dateBirth%>
</p>

<p>
  <b>Gender</b>
  <%=  @student.gender%>
</p>

<p>
  <b>Group</b>
  <%=  @student.groups.where("group.idTeacher = ?",  current_user.teacher.id).name%>
</p>



<%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-primary' %> |
<%= link_to 'Back', students_path, :class => 'btn'  %>
</div>