<% content_for :title do %>
  Listing Config Files
<% end %>
<div class="mainText container">
  <h1>Listing config files</h1>

  <table class="table table-striped">
    <tr>
      <th>Config</th>
      <th>Game ID</th>
      <% if current_user.role.title == 'admin' %>
      <th>Developer ID</th>
      <% end %>
      <th>Created</th>
      <th></th>
      <th></th>
    </tr>

  <% @config_files.each do |config_file| %>
    <tr>
      <td>
        <% if config_file.submited %>
        <span class="label label-success">submited</span>
        <% else %>
        <span class="label label-warning">saved</span>
        <% end %>

      </td>
      <td><%= config_file.idSG %></td>
      <% if current_user.role.title == 'admin' %>
      <td><%= config_file.idDeveloper %></td>
      <% end %>
      <td><%= config_file.created_at.to_formatted_s(:short) %></td>
      <td><%= link_to 'Show', config_file %></td>
      <td><%= link_to 'Edit', edit_config_file_path(config_file) %></td>
      <td><%= link_to 'Destroy', config_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

</div>
