<%= form_for @user, :role => 'form' do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
	<h2>Form is invalid</h2>
	<ul>
		<% for message in @user.errors.full_messages %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= render 'form_fields', :f => f%>
<div class="form-group">
	<%= f.label :role %>
	<%= f.select :role_id, Role.all.collect {|a| [a.title, a.id]}, :class => 'form-control'%>
</div>
<div class="actions"><%= f.submit :class => 'btn btn-primary' %></div>
<% end %>