<% content_for :title do %>Users<% end %>


<div class="mainText container">
  <h2>Users</h2>

  <table class="table table-hover table-bordered table-striped">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.role.title %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
  <p><%= link_to 'New User', new_user_path, :class => 'btn btn-primary btn-sm' %> </p>
  
  <br />
</div>


