 <% content_for :title do %>
  Tutorial
<% end %>

<% content_for :notmain do %>
  True
<% end %>

 <div class="container mainText">
      <h2>Tutorial</h2>

      	<p><i>If you haven’t already, you should complete this questionnaire prior to doing the tutorial: <a href="http://goo.gl/forms/DHOzSkuJBS" target="_blank">http://goo.gl/forms/DHOzSkuJBS</a>.
		</i></p>
		<br/>

      	<p>Download <a href="../tutorialTeachers.pdf" target="_blank">our tutorial </a> and learn how to use EngAGe's tools with two very simple serious games. This tutorial has four parts:</p>

		<h4>Part 1: Get to know EngAGe’s interface</h4>
      	<p> 
      		Learn the basics about the interface, how to manage your games and students. You will learn how to create a student account and how to give them access to the games.
     	</p>
     	<div class="" align="center"><%= image_tag "interface.png", alt:"interface", size: "320x180" %></div>

		<h4>Part 2: Play the game</h4>
      	<p>
      		Get acquainted with the games that are available to you. And all the functionalities they offer (badges, leaderboard...).
      	</p>
     	<div class="" align="center"><%= image_tag "euMouse_gameplay.png", alt:"EU mouse", size: "320x180" %><%= image_tag "vocShoot_screenshot.png", alt:"vocShoot", size: "320x180" %></div>

      	<h4>Part 3: Visualise gameplay data </h4>
      	<p>
      		Once you understand what the game is about, you can come back to the interface and see its learning analytics dashboard. There are plenty of charts available to you there so you can visualise your students' performance, see what mistakes they made, their score in the game, what badges they earned and plenty more. The dashboard even have an option for you to generate personalised reports for your students.
      	</p>
     	<div class="" align="center"><%= image_tag "LAdashboard.png", alt:"LA dashboard", size: "320x180" %></div>

      	<h4>Part 4: Modify the game </h4>
      	<p>
      		From the charts you saw in part 3, you might decide on some changes that need to be made to the game. This last section will take you through the assessment editor of EngAGe. In there you will be able to change the scores, the way the students are assessed, the feedback triggered, the badges conditions and even decide on a different end of game.
      	</p>
     	<p>
     		<div class="" align="center"><%= image_tag "assessmentEditor.png", alt:"assessment editor", size: "320x180" %></div>
     	</p>
      <p>When you are done, please take 5-10 minutes to answer a quick questionnaire and tell us what you think of the tool: <a href="http://goo.gl/forms/11fUshGIlJ" target="_blank" >http://goo.gl/forms/11fUshGIlJ </a></p>
     	<br/>
</div>
<br/>
