<% content_for :title do %>
Learning Analytics
<% end %>

<div class="mainText container" ng-app="learningAnalytics" ng-controller="LA_basicInfoController">

	<h1>Learning Analytics</h1>

	<p>Here you can visualise gameplay data of your games, please select a game to get started.</p>

	<!--<%= select_tag "serious_games", options_for_select(@serious_games.collect {|s| [ s.name, s.id ] })%>-->

	<table class="table table-hover table-bordered table-striped">
	  <tr>
	    <th>Learning <br/> Analytics</th>
	    <th>Id</th>
	    <th>Created</th>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Version</th>
	    <th>Gameplays</th>
	  </tr>

	<% @serious_games.each do |serious_game| %>
	  <tr>
	    <td><%= link_to 'Analytics', learning_analytics_path(id: serious_game.id, version: serious_game.version, teacher: @id), :class=>"btn btn-info btn-sm" %></td>
	    <td><%= serious_game.id %></td>
	    <td><%= serious_game.created.to_formatted_s(:short) %></td>
	    <td><%= serious_game.name %></td>
	    <td><%= serious_game.description %></td>
	    <td><%= serious_game.version %><br/><%= serious_game.nameVersion %></td>
	    <td><%= serious_game.gameplays.count %></td>
	  </tr>
	<% end %>
	</table>
	

	<br/>
	

</div>