<%= form_for(@serious_game) do |f| %>
  <% if @serious_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serious_game.errors.count, "error") %> prohibited this serious_game from being saved:</h2>

      <ul>
      <% @serious_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Game information</h3>
  <p>Please provide some additional information concerning your game.</p>

  <div class="field">
    <%= f.label :screenshot_url %><br />
    <p><i>To make it easier for the teachers to visualise their games, please provide the url to a screenshot of your game.</i></p>
    <%= f.text_field :screenshot_url %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :url %><br />
    <p><i>If your game can be played online or downloaded from a webpage, provide the url here.</i></p>
    <%= f.text_field :url %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
    <p><i>If you decide to make your game public, any teacher will be able to see it.</i></p>
  </div>


  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

