<% content_for :title do %>
  Manage your serious games
<% end %>


<div class="mainText container">
  <h2>Manage your serious games</h2>

  <p>Here you can visualise all the games you have in our database, for each one, you can see all the versions, the dates they were created, and you are able to delete them.</p>
  <p>You can also <%= link_to 'click here', new_serious_game_path %> to register a new serious game in our database.</p>

<table class="table table-hover table-bordered table-striped">
  <tr>
    <th>Id</th>
    <th>Created</th>
    <th>Name</th>
    <th>Description</th>
    <th>Gameplays</th>
    <th>Learning Analytics</th>
    <% if !current_user.developer.nil? %>
      <th></th>
      <th>Config file</th>
    <% end %>
    <% if !current_user.teacher.nil? %>
      <th>Versions</th>
    <% end %>
    <% if !current_user.developer.nil? %>
      <th>Access</th>
    <% end %>
    <th>Play</th>
  </tr>

<% @serious_games.each do |serious_game| %>
  <tr>
    <td><%= serious_game.id %></td>
    <td><%= serious_game.created.to_formatted_s(:short) %></td>
    <td><%= serious_game.name %></td>
    <td><%= serious_game.description %></td>
    <td><%= serious_game.gameplays.count %></td>
    <td><%= link_to 'Analytics', learning_analytics_path(id: serious_game.id, version: serious_game.version ) %></td>
    <% if !current_user.developer.nil? %>
      <td><%= link_to 'Destroy', serious_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><% if defined? serious_game.config_file %><%= link_to 'See', serious_game.config_file %><% end %></td>
    <% end %>
    <% if !current_user.teacher.nil? %>
      <td><%= link_to 'View all versions', serious_game %></td>
    <% end %>
    <% if !current_user.developer.nil? %>
      <td><%= link_to 'Manage game access', edit_serious_game_path(serious_game) %></td>
    <% end %>
    <td>
      <% if !serious_game.url.nil? && serious_game.url != "" %>
        <%= link_to raw("<span class=\"glyphicon glyphicon-play-circle\"></span>"), serious_game.url, :class => 'btn btn-default', :target => "_blank" %>
        <!-- glyphicon glyphicon-play-circle -->
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

  

</div>


