<% content_for :title do %>
  Manage your serious games
<% end %>

<div class="mainText container">
  <h2><%= @serious_game.name %></h2>


  <p id="notice"><%= notice %></p>

<%= form_for(@serious_game) do |f| %>
  <% if @serious_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serious_game.errors.count, "error") %> prohibited this serious_game from being saved:</h2>

      <ul>
      <% @serious_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Id:</b>
    <%= @serious_game.id %>
  </p>

  <p>
    <b>Name:</b>
    <%= @serious_game.name %>
  </p>

  <p>
    <b>Desc:</b>
    <%= @serious_game.description %>
  </p>

  <p>
    <b>Age Range:</b>
    <%= @serious_game.ageMin %> - <%= @serious_game.ageMax %>
  </p>

  <p>
    <b>Lang:</b>
    <%= @serious_game.language %>
  </p>

  <p>
    <b>Country:</b>
    <%= @serious_game.country %>
  </p>

  <p>
    <b>Version:</b>
    <%= @serious_game.version %>
  </p>
<!--
  <h3>Access</h3>

  <% if @serious_game.public? %>
    <p>Your game is public, specify its URL here </p>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </div>
  <% end %>

  <p>You can specify access to teachers or school. Please add them in the following fields.</p>

  <h5>Teachers:</h5>
<input type="text" data-provide="typeahead" data-items="5" data-source='<%= @teachers.to_json %>'>

    <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control"><div ng-app="demo"  ng-controller="TypeaheadCtrl">
<h4>Static arrays</h4>
  <pre>Model: {{selected | json}}</pre>
  <input ng-init="teachers=<%= @teachers.to_json %>" type="text" ng-model="selected" typeahead="teacher.name for teacher in teachers | filter:$viewValue | limitTo:8" class="form-control">
</div>
 -->

<% end %>

<%= link_to 'Back', serious_games_path, :class => 'btn btn-sm btn-primary'%>
  

</div>



<script>  
 var subjects = ['PHP', 'MySQL', 'SQL', 'PostgreSQL', 'HTML', 'CSS', 'HTML5', 'CSS3', 'JSON'];   
$('#search').typeahead({source: subjects})  
angular.module('demo', ['ui.bootstrap']).controller('TypeaheadCtrl', function($scope, $http) {

  $scope.selected = undefined;
 
  // Any function returning a promise object can be used to load values asynchronously
  $scope.getLocation = function(val) {
    return $http.get('http://maps.googleapis.com/maps/api/geocode/json', {
      params: {
        address: val,
        sensor: false
      }
    }).then(function(response){
      return response.data.results.map(function(item){
        return item.formatted_address;
      });
    });
  };
});


</script>  