<% content_for :title do %>
  Manage your serious games
<% end %>

<div class="mainText container">
  <h2><%= @serious_game.name %></h2>


  <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @serious_game.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @serious_game.description %>
</p>

<p>
  <b>Age Range:</b>
  <%= @serious_game.ageMin %> - <%= @serious_game.ageMax %>
</p>

<p>
  <b>Lang:</b>
  <%= @serious_game.language %>
</p>

<p>
  <b>Country:</b>
  <%= @serious_game.country %>
</p>

<p>
  <b>Version:</b>
  <%= @serious_game.version %>
</p>


<%= link_to 'Back', serious_games_path, :class => 'btn btn-sm btn-primary'%>
  

</div>


