<% content_for :title do %>
  Manage your serious game
<% end %>

<div class="mainText container">
  <div class="col-md-12">
  <h2><%= @serious_game.name %></h2>
  <p>
    <b>Id:</b>
    <%= @serious_game.id %>
  </p>


  <p id="notice"><%= notice %></p>
</div>
  

<% if !current_user.teacher.nil? %>

  <% if !@serious_game.screenshot_url.nil? %>
    <div class="col-md-12">
      <%= image_tag @serious_game.screenshot_url, alt:@serious_game.name, size: "320x180" %>
      <% if !@serious_game.url.nil? && @serious_game.url != "" %>
        <%= link_to raw("<span class=\"glyphicon glyphicon-play-circle\"></span> Play game"), @serious_game.url, :class => 'btn btn-default btn-lg', :target => "_blank" %>
      <% end %>
      
    </div>
  <% end %>

    <div class="col-md-4">
      <h4>Original game</h4>
      <% v = @versions.first %>
      <p>
        <b>version:</b> 0 <br/>
        <b>Created on:</b> <%= v.created.to_formatted_s(:short) %><br/>
        <b>Developer:</b> <%= v.developer.user.username %><br/>
        <b>Played:</b> <%= v.gameplays.count %> times<br/>
      </p><p>
        <b>Game name:</b> <%= v.name %><br/>
        <b>Game description:</b> <%= v.description %> <br/>
        <b>AgeRange:</b> <%= v.ageMin %> - <%= v.ageMax %><br/>
        <b>Language:</b> <%= v.language %><br/>
        <b>Country:</b> <%= v.country %><br/>
        <% if v.public? %><i> This game is public </i><% end %>
      </p>
    </div>

    <div class="col-md-4">
      <h4>Last version</h4>
      <% v2 = @versions.last %>
      <p>
        <b>version:</b> <%= v2.version %> <br/>
        <b>Created on:</b> <%= v2.created.to_formatted_s(:short) %><br/>
        <b>Version name:</b> <%= v2.nameVersion %><br/>
        <b>Comments:</b> <%= v2.comments %><br/>
        <b>Played:</b> <%= v.gameplays.count %> times
      </p><p>
        <b>Game name:</b> <%= v2.name %><br/>
        <b>Game description:</b> <%= v2.description %> <br/>
        <b>AgeRange:</b> <%= v2.ageMin %> - <%= v2.ageMax %><br/>
        <b>Language:</b> <%= v2.language %><br/>
        <b>Country:</b> <%= v2.country %><br/>
        <% if v2.public? %><i> This version is public </i><% end %>
      </p>
    </div>

    <div class="col-md-4">
      <h4>All versions</h4>
      <ul>
        <% @versions.each do |v| %>
          <li><b>version <%= v.version %></b>: <%= v.nameVersion %> 
            <% if !v.comments.nil? %> <br/><i>"<%= v.comments %>"</i><% end %></li>
        <% end %>
      </ul>

      Create new version from 
      <select id="versionParent">
        <% @versions.each do |v| %>
            <option value="<%= v.version %>">version <%= v.version %> </option> 
        <% end %>
      </select>
      <%= link_to 'Create', editor_path(id: @serious_game.id, version: 0), :class => 'btn btn-xs btn-primary'%>
    </div>


<% end %>

<div class="col-md-12"><%= link_to 'Back', serious_games_path, :class => 'btn btn-sm'%></div>


  

</div>
