<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A web interface for use of assessment engine">
  <meta name="author" content="Yaelle Chaudy - UWS">

  <title>EngAGe - <%= yield :title %> </title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script type="text/javascript">
    function clickTab1() {
      $(this).tab('show')
    }

    $('#tab2 a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    $('#tab1 a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>

</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "EngAGe", root_path, :class => "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Documentation", documentation_doc_path %></li>
              <li><a href="http://146.191.107.189/apiDoc/index.html" target="_blank">API</a></li>            
              <!--<li><a href="http://docker/apiDoc/index.html" target="_blank">API</a></li>-->  
              <li><%= link_to "Tutorials", documentation_tutorial_path %></li>
              <li><%= link_to "Downloads", documentation_downloads_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tower"></span> Serious Games <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create", new_serious_game_path if permitted_to? :create, :serious_games %></li>
              <li><%= link_to "Manage", serious_games_path if permitted_to? :read, :serious_games %></li>
            </ul>
          </li>

          <% if permitted_to? :read, :students %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Students <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create", new_student_path if permitted_to? :create, :students %></li>
              <li><%= link_to "Manage", students_path if permitted_to? :read, :students %></li>
            </ul>
          </li>
          <% end %>
          <li><%= link_to home_about_path do %><span class="glyphicon glyphicon-info-sign"></span> About<% end %></li> 
          
          <% if !current_user.nil? && !current_user.role.nil? && current_user.role.title == 'admin'%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> Admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if permitted_to? :manage, :users %>
              <li><%= link_to "Users", users_path %></li>
              <% end %>
              <% if permitted_to? :manage, :config_files %>
              <li><%= link_to "Config Files", config_files_path %></li>
              <% end %>
              <% if permitted_to? :manage, :teachers %>
              <li><%= link_to "Teachers", teachers_path %></li>
              <% end %>
              <% if permitted_to? :manage, :developers %>
              <li><%= link_to "Developers", developers_path %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          
        </ul>
        <% if current_user %>
        <form class="navbar-form navbar-right">
          <span style="color: white">Logged in as <%= current_user.email %>.</span>
          <%= link_to "Log out", logout_path, :class=>"btn btn-danger btn-sm"%>
        </form>
        <% else %>
        <form class="navbar-form navbar-right">
          <%= link_to "log in", login_path, :class=>"btn btn-info btn-sm" %>.
       <!-- </form>
        <form class="navbar-form navbar-right"> -->
          <%= link_to "sign in as developer", new_developer_path, :class=>"btn btn-info btn-sm" %>.
        <!--</form>
        <form class="navbar-form navbar-right"> -->
          <%= link_to "sign in as teacher", new_teacher_path, :class=>"btn btn-info btn-sm" %>.
        </form>
        <% end %>
          <!--<form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control input-sm">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control input-sm">
            </div>
            <button type="submit" class="btn btn-info btn-sm">Sign in</button>
          </form>-->
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <% if !content_for?(:main) %>
    <div class="banner2">
      <table width="80%" align="center" border="0">
        <tr><td align="center"><%= image_tag "logo2.png", alt:"logo", size: "150x130" %></td>
          <td align="center"><h2>EngAGe </h2><h3>An Engine for Assessment in Serious Games</h3></td></tr>
        </table>
      </div>
      <% end %>

      <div class="MainText container">
        <% flash.each do |name, msg| -%>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end -%>

      </div>

      <%= yield %>

      <footer>
        <div align="center">&copy; Ya&euml;lle Chaudy - <a href="http://uws.ac.uk"> University of the West of Scotland </a> - 2013-2014</div>
      </footer>

    </body>
    </html>

